RewriteEngine on
RewriteRule ^autores/ autores/controller.php
RewriteRule ^editoriales/ editoriales/controller.php
RewriteRule ^libros/ libros/controller.php
RewriteRule ^usuarios/ usuarios/controller.php
RewriteRule ^prestamos/ prestamos/controller.php
RewriteRule ^dashboard/ dashboard/controller.php