
/* FORMULARIO LIBROS */

.form_libros>form {
    background-color: #fff;
    max-width: 800px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form_libros .titulo_libro {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form_libros .autor_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.colum_group
{
    padding-left: 1rem;
}


.form_libros .autor_group .colum_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}
/* fin FORMULARIO LIBROS */

  /* TABLA PAGINADO */
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd; /* agrega un borde de 1px de ancho con color gris claro */
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* agrega un estilo de hover para cada fila con color aleatorio */
  .tr-hover {
    transition: background-color 0.3s ease;
  }
  
  .tr-hover:hover {
    background-color: var(--random-color);
  }
  /*FINTABLA PAGINADO */